<h1>New Recipe</h1>
<form action="/recipes" method="post">
  <p>Recipe Name:<input type="text" name="recipe[name]"></p>
  <p>Recipe Ingredients:<input type="text" name="recipe[ingredients]"></p>
  <p>Recipe Cook Time:<input type="text" name="recipe[cook_time]"></p>
  <p><input type="submit" name="submit"></p>
</form>
